
@{
    ViewBag.Title = "DateExpired";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sorry, the date you chose has expired, please make a booking one day in advance</h2>

<li>@Html.ActionLink("Return to Booking Page", "Index", "Events")</li>

