
@{
    ViewBag.Title = "EventsFull";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Today's booking is full, please choose another day</h2>

<li>@Html.ActionLink("Return to Booking Page", "Index", "Events")</li>