@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="col-md-6">
    <h2>Send email to Single Address</h2>
    <p>By clicking this you can send email to a single address</p>
    <p><a class="btn btn-default" href="https://localhost:44316/Home/Send_Email">Send an email &raquo;</a></p>
</div>

<div class="col-md-6">
    <h2>Send bulk emails</h2>
    <p>By clicking this you can send bulk emails to all the customer</p>
    <p><a class="btn btn-default" href="https://localhost:44316/Home/Send_Email_Multiple">Send bulk emails &raquo;</a></p>
</div>