@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color: #4bd6cd">
    <h1>All House</h1>
    <p class="lead">All House is a platform for house transaction, we privide service for seller, buyer and agent.</p>
    <p><a href="https://localhost:44316/Home/About" class="btn btn-primary btn-lg">About us &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Buy a house</h2>
        <p>
            All Houses privide you varity kinds of house for you!
        </p>
        <p><a class="btn btn-default" href="https://localhost:44316/HouseSets">Buy a house &raquo;</a></p>
    </div>

    <div class="col-md-3">
        <h2>Sell a house</h2>
        <p>All Houses provide agent service for house seller!</p>
        <p><a class="btn btn-default" href="https://localhost:44316/HouseSets">Sell a house &raquo;</a></p>
    </div>

    <div class="col-md-3">
        <h2>Become an agent</h2>
        <p>Welcome join All House to be an agent!</p>
        <p><a class="btn btn-default" href="https://localhost:44316/Account/Register">Join us &raquo;</a></p>
    </div>

    <div class="col-md-3">
        <h2>Have Feedback?</h2>
        <p>Fell free to give feedback by rating us!</p>
        <p><a class="btn btn-default" href="https://localhost:44316/RateSets/Create">Rate us &raquo;</a></p>
    </div>
</div>